body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:oldlace;
    background-size: cover;
}
a {
    color: #333;
    text-decoration: none;
  }
  
  header h1 {
    text-align: center;
    text-transform: uppercase;
    color: maroon;
    text-decoration: none;
  }
  
  nav ul {
    margin: 10px 5%;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0;
    padding: 10px;
    width: 20%;
    text-align: center;
    font-size: 20px;
    font-family: "Lobster", cursive;
    color: peru;
  }
  
  nav ul li a {
    color: chocolate;
  }
  
  nav ul li:hover {
    animation: 1s ease-in agrandar infinite;
  }
  
  
  @keyframes agrandar {
    0% {
      font-size: 20px;
    }
    20% {
      font-size: 30px;
    }
    30% {
      font-size: 20px;
    }

  }
  h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(20, 20, 18);
  }
  header p{
    color: rgb(8, 7, 6);
  }
  div h4{
    color: maroon;
  }
  div label{
    color: chocolate;
    font: outline;
    font-size: 100%;

  }
  
  footer {
    font-size: 0.50em;
    text-align: center;
    clear: both;
    padding-top: 20px;
    color: maroon;
    background-color: slategrey;
  }