body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:bisque;
    background-size: cover;
}
p {
    color: #333;
    text-decoration: none;
  }
  
  header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
  }
  
  nav ul {
    margin: 10px 5%;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "Lobster", cursive;
    list-style: none;
    
  }
  nav ul li a{
    border-radius: 20px;
    color: black;
  }
  
  nav ul li:hover {
    animation: 1s ease-in agrandar infinite;
  }
  
  @keyframes agrandar {
    0% {
      font-size: 20px;
    }
    20% {
      font-size: 30px;
    }
    30% {
      font-size: 20px;
    }
  }
  body h1{
    font-family: "Lobster", cursive;
    text-align: center;
    text-transform: capitalize;
     color:rgb(12, 13, 14);
   }
  
   p{
     color:black;
   }
   nav,div, h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgba(133, 37, 37, 0.678);
     font: caption;
     list-style-type: armenian;
     list-style: none;
   }
   nav ol li p{
     list-style: none;
     color: maroon
   }
   nav ol li  {
    list-style: none;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:maroon;
    text-align: center;
    font-size: 100%;
    text-align: center;
    font: outline;
   
   }
   image{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    
   }
   footer{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  
    background-color: rgb(205, 211, 216);
  }
  footer nav ul {
    list-style: none;
    display: inline-block;
    margin: 10px 5%;
    padding: 0px;
    margin-bottom: 20px;
  }
  footer div ul li  {
    list-style: none;
    margin: 0px;
    padding: 2px;  
    text-align: center;
    font-size: 10px;
    font-family: "Lobster", cursive;
    
  
  }
  #cabecera{
    width: 100%;
  }
  #a{
    color:black;
  }
  footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  