body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(../imagenes/turs.jpg) no-repeat center center fixed;
    background-size: cover;
}
a {
    color: #333;
    text-decoration: none;
  }
  
  header h1 {
    text-align: center;
    text-transform: uppercase;
  }
  
  nav ul {
    margin: 10px 5%;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0;
    padding: 10px;
    border: 2px dashed rgb(255, 153, 0);
    border-radius: 10px;
    width: 20%;
    text-align: center;
    font-size: 20px;
    font-family: "Lobster", cursive;
  }
  
  nav ul li a {
    color: orangered;
  }
  
  nav ul li:hover {
    animation: 0.5s ease-in agrandar infinite;
  }
 
  @keyframes agrandar {
    0% {
      font-size: 20px;
    }
    50% {
      font-size: 30px;
    }
    100% {
      font-size: 20px;
    }
    
  }
  body h1{
    text-align: center;
    text-transform: capitalize;
     color: aqua
   }
   nav ol li a{
     font-size: 20%;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: blue
     
   }