body{
    margin: 0%;
    padding: auto;
    color: cornflowerblue;
}
header{
    width: 33%;
    float: left;
}
header,h1{
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;


}
.cabecera{
    width: 70%;
    border-radius: 5px;
    float: right;
    background: rgb(88, 87, 87);
    border-radius: 15px;
    

}
.cabecera,a{
    text-decoration: none;
    color: black;
}
section{
    width: 67%;
    float: left;
}
aside,nav{
    width: 33%;
    float: left;
}
